section
{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  overflow-x: hidden;
  background-color: black;
}
.backGround
{
  position: absolute;
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url('../../utils/background_form.jpg');
  background-size: cover;
  position: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  opacity: .7;
  top: 80px;
}

.container
{
  position: relative;
  width: 1200px;
  /* height: calc(100vh - 120px) ; */
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 25px 50px rgba(255, 255, 255, 0.1); 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.container legend
{
  font-size: 1.3em;
  color: #fff;
}

.container button
{
  position: relative;
  background-color: #5a0802; 
  color: #fff;
  padding: 1rem;
  font-size: 24px;
  letter-spacing: 8px;
  border-radius: 16px; 
  margin: 20px 20px 0;
  flex-grow: 1;
  line-height: 20px;
  min-width: 185px;
  transition: 0.3s;
  cursor: pointer;
}
.container button:hover
{
  background-color: #810e05; 
  text-decoration: underline;
}
.container button:active
{
  position: relative;
  top: 1px;
}
.formContainer
{
  position: relative;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.formLeft,
.formRight
{
  width: 550px;
  align-self: flex-start;
  gap: 20px;
}
.formLeft .inputBox label,
.formRight .inputBox label
{
  position: relative;
  color: #fff;
}
.formLeft .inputBox input,
.formRight .inputBox input
{
  position: relative;
  width: 100%;
  padding: 15px 20px;
  outline: none;
  font-size: 1.25em;
  color: #fff;
  border-radius: 5px;
  background:  rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 15 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.formLeft .inputBox input:focus ,
.formRight .inputBox input:focus
{
  border: 1px solid rgba(145, 145, 145, 0.6);
}
.formLeft .inputBox textarea
{
  position: relative;
  width: 100%;
  padding: 15px 20px;
  outline: none;
  font-size: 1.25em;
  color: #fff;
  border-radius: 5px;
  background:  rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 15 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.15);
  resize: none;
}
.formLeft .inputBox textarea:focus
{
  border: 1px solid rgba(145, 145, 145, 0.6);
}
.formLeft .inputBox ::placeholder
{
  color: rgba(255, 255, 255, 0.5);
}
.formLeft .inputBox .diets 
{
 position: relative;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 height: 250px;
}
.formLeft .inputBox .diets input[type="checkbox"]
{
  position: relative;
  top: 10px;
  width: 40px;
  height: 40px;
  -webkit-apprence: none;
  appearance: none;
  outline: none;
  transition: .5s;
  background: none;
  border: none;
  cursor: pointer;
}

.formLeft .inputBox .diets input[type="checkbox"]::before
{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #810e05;
  box-sizing: border-box;
  transition: .5s;
}
.formLeft .inputBox .diets input:checked[type="checkbox"]::before
{
  border-left: none;
  border-top: none;
  width: 20px;
  border-color: #0f0; /*#0f0*/
  transform: rotate(45deg) translate(5px, -10px);
}
.formRight
{
  display: flex;
  flex-flow: column nowrap;
  height: 550px;
}
.formRight h4
{
  color: #fff;
  font-weight: 400;
}
.formRight .imageContainer
{
  background-color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 35px rgba(0,0,0,0.05);
  border-radius: 7px;
  padding: 20px 0;
}
.formRight .figureContainer
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.formRight .figureContainer img
{
  display: block;
  position: relative;
  max-width: 90%;
  max-height: 216px;
  margin: auto;
  border-radius: 3.5px;
}
.formRight .imageContainer input[type="file"]
{
  display: none;
}
.formRight .imageContainer label
{
  display: block;
  position: relative;
  background-color: #810e05;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 20px 0;
}
.formRight .imageContainer label:hover
{
  background-color: #5a0802;
  text-decoration: underline;
}
.formRight .imageContainer label:active
{
  position: relative;
  top: 1px
}
.formRight .containerToDoList
{
 margin-top: 10px;
 background:  rgba(0, 0, 0, 0.2);
 max-height: 120px;
 border: 1px solid rgba(255, 255, 255, 0.15);
 color: #fff;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;
 overflow: auto;
 scrollbar-width: none;
}
.formRight .containerToDoList::-webkit-scrollbar 
{
  width: 0;
}
.formRight .containerToDoList span
{
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: 90%;
  border-radius: 7px;
  padding: 0 16px;
  scroll-behavior: smooth;
}


/*responsive */
@media screen and (max-width: 1260px) 
{
  .container
  {
    width: 700px;
  }
  .container button
  {
    margin-top: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .formRight .containerToDoList
  {
    max-height: 150px;
  }

}

@media screen and (max-width: 760px) 
{
  .container
  {
    width: 400px;
  }
  .container button
  {
    position: relative;
    font-size: 16px;
  }
  .formLeft,
  .formRight
  {
    width: 350px;
  }
  .formRight .imageContainer
  {
    min-width: 300px;
  }
}

@media screen and (max-width: 400px)
{
  .container
  {
    width: 400px;
    padding: 10px;
  }
  

}
