.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(100vh - 120px); 
}
.backgroundCards
{
  position: fixed;
  background: url('../../utils/Cards/background.jpg') center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(2px);
  opacity: .7;
}
.filterCards
{
  position: fixed;
  top: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;  
  z-index: 1;
}