.detailsContainer
{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(100vh - 120px); 
  min-width: 100%;
  width: 100%;
  padding: 10px;
}
.backgroundDetails
{
  position: fixed;
  background: url('../../utils/background_form.jpg') center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: blur(5px);
  opacity: .5;
  overflow: hidden;
}
.imageContainerDetails
{
  position: relative;
  width: 100%;
  height:30vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;  
}
.imageContainerDetails img
{
  height: 100%;
  width: auto;
  border-radius: 50px 0 300px 0;
}
.titleDetail
{
  width: 100%;
  display: flex;
  flex-flow: row wrap; 
  justify-content: flex-start;
  align-items: flex-start;
}
.titleDetail h1
{
  color: #f0f8ff;
  font-size: 74px;
  user-select: none;
}
.titleDetail h3
{
  position: absolute;
  right: 40px;
  bottom: 0;
  color: rgb(228, 224, 0);
  font-size: 48px;
  user-select: none;
  margin: 50px 0;
}
.informationContainer
{
  position: relative;
  height: 60vh;
  color: #f0f8ff;
}
.dietDetail
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.dietDetail button
{
  background: transparent;
  color: #fffaf0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: font-size 0.5s;
}
.dietDetail button:hover
{
  color: rgba(255, 250, 240,.5);
}
.dietDetail button:active
{
  position: relative;
  top: 1px;
}

.centerContentDetails
{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: calc(100% - 30px);
}
.summarryDetails
{
  position: relative;
  width: 50%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 0 0;
}
.summarryDetails::-webkit-scrollbar 
{
  width: 0;
}
.summarryDetails h3
{
  font-size: 46px;
  margin-bottom: 20px;
}
.summarryDetails * 
{
  color: #f0f8ff;
  font-weight: 400;
}

.stepsDetail
{
  width: 50%;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px;
}
.stepsDetail h3
{
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.stepsDetail h4
{
  font-weight: 400;
}

/* responsive */
@media screen and (max-width: 960px) 
{
  .titleDetail h1
  {
    font-size: 3em;
  }
  .titleDetail h3
  {
    font-size: 2em;
  }
  .dietDetail button
  {
    font-size: 1em;
  }
  .summarryDetails h3
  {
    font-size: 2em;
  }
  .stepsDetail h3
  {
    font-size: 2em;
  }
}